<div class="professionals_menu menu">
  <%= link_to root_path do %>
    <div class="menu_logo"></div>
  <% end %>
  <div class="menu_links">
    <%= link_to "Bedrijf", professionals_path %>
    <%= link_to "Mijn werknemers", mijnwerknemers_path %>
    <%= link_to "Samen op weg", professionals_opweg_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</div>
<div class="content">
  <div class="info">
    <h1 class="professionals">Mijn werknemers</h1>
    <p>
      <% @mijnwerknemers.each do |mijnwerknemer| %>
  <%= link_to mijnwerknemer.aandoening, mijnwerknemer %><br>
<% end %>
    </p>
    <br>
<b>voor admins</b><br>
<%= link_to 'Nieuwe aandoening documenteren', new_mijnwerknemer_path %>
  </div>
</div>




</table>


