<div class="professionals_menu menu">
  <%= link_to root_path do %>
    <div class="menu_logo"></div>
  <% end %>
  <div class="menu_links">
    <%= link_to "Bedrijf", professionals_path %>
    <%= link_to "Mijn werknemers", mijnwerknemers_path %>
    <%= link_to "Samen op weg", professionals_opweg_path %>
    <%= link_to "Contact", contact_path %>
  </div>
</div>
<div class="content">
  <div class="info">
    <h1 class="professionals">Mijn werknemers</h1>
    <p>
      <!-- Dump hier die shit maar neer! -->
    </p>
  </div>
</div>

<!-- Jou shit! Linkjes weglaten svp! -->
<table>
  <thead>
    <tr>
      <th>Aandoening</th>
      <th>Advies</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mijnwerknemers.each do |mijnwerknemer| %>
      <tr>
        <td><%= mijnwerknemer.aandoening %></td>
        <td><%= mijnwerknemer.advies %></td>
        <td><%= link_to 'Bekijk', mijnwerknemer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<b>voor admins</b><br>
<%= link_to 'Nieuwe aandoening documenteren', new_mijnwerknemer_path %>
