<div class="gemeente_menu menu">
	<div class="menu_logo"></div>
	<div class="menu_links">
		<%= link_to "Contact", contact_path %>
	</div>
</div>
<div class="content">
	<div class="info">
		<h1 class="gemeente">Wat kan MEE Drenthe voor gemeenten betekenen?</h1>
		<p>MEE Drenthe wil gemeenten graag helpen bij het invullen van de verantwoordelijkheid om de zelfredzaamheid en maatschappelijke participatie van kwetsbare burgers te bevorderen. We leveren graag een bijdrage aan het vormgeven van integraal gemeentelijk beleid voor kwetsbare burgers. Door te helpen met het inrichten van de toegang tot Wmo-voorzieningen, aansluiten op andere gebieden binnen het sociaal domein als jeugdzorg, arbeidsparticipatie en passend onderwijs en samenwerking te organiseren binnen een wijkgerichte aanpak.</p>
		<p>Als gemeente kunt u de voorwaarden creëren voor een ‘inclusieve’ samenleving waarin iedereen naar vermogen mee kan doen. Met onze specialistische kennis over mensen met een beperking kunnen wij u helpen bij het creëren van de voorwaarden. Dit doen wij met cliëntondersteuning door de eigen kracht van kwetsbare burgers en hun sociale netwerk te versterken, samen te werken in de keten (integraal werken) en knelpunten en belemmeringen te signaleren. Oftewel: meedoen mogelijk maken.</p>
	</div>
	<div class="documentation">
		<h1 class="gemeente">Documentatie</h1>
		<p>Hieronder vind u verschillende documenten die u meer informatie geven over wat wij doen en de grote van het probleem. Indien er nog vragen zijn kunt u contact opnemen via onze <%= link_to "contact pagina", contact_path %></p>
		<ul>
			<li><%= link_to "Folder voor gemeenten", "/extra/folder voor gemeenten.pdf", :target => "_blank" %></li>
			<li><%= link_to "Maatschappelijke Business Case: MEE als publieke waarde", "/extra/mbc_lr.pdf", :target => "_blank" %></li>
			<li><%= link_to "Handreiking Wet werken naar vermogen", "/extra/mee-handreiking-wwnv.pdf", :target => "_blank" %></li>
			<li><%= link_to "Kerncijfers in Drenthe", "/extra/mee_kerncijfers.pdf", :target => "_blank" %></li>
			<li><%= link_to "Brochure 'Zag je het maar'", "/extra/zag-je-het-maar.pdf", :target => "_blank" %></li>
		</ul>
	</div>
	<div class="referentie">
		<h1 class="gemeente">Referenties</h1>
		<p>Indien u andere gemeentes wilt spreken over MEE kunt u contact opnemen met onderstaande.</p>
		<div class="adress">
			<span class="gemeente">Assen (MEE Drenthe hoofdkantoor)</span><br>
			Eemland 3<br>
			9405 KD Assen<br>
			Drenthe<br>
			Nederland<br>
		</div>
		<div class="adress">
			<span class="gemeente">Assen (Noordermaat)</span><br>
			Meester Groen van Prinstererlaan 127<br>
			9402 KC Assen<br>
			Nederland<br>
		</div>
		<div class="adress">
			<span class="gemeente">Beilen (Nassaukade)</span><br>
			Nassaukade 4<br>
			9411 KG Beilen<br>
			Drenthe<br>
			Nederland<br>
		</div>
		<div class="adress">
			<span class="gemeente">Coevorden (AMW)</span><br>
			Van Eijbergenstraat 5<br>
			7741 EL Coevorden<br>
			Drenthe<br>
			Nederland<br>
		</div>
	</div>
</div>
